{{>header}}
        <h1>
            Bienvenido a la página de oferta de cursos
        </h1>
<h2>Seleccione a continuación el curso que desee inscribir</h2>
<br>
{{{listarCursos}}}
<br>
<br>
<br>
<h1>Para ver y editar la lista de usuarios click <a href="listarUsuarios">aquí</a> </h1>
{{>footer}}